- if current_user
  = simple_form_for commentable.comments.build, url: polymorphic_path(path_arguments.push(:comments)), remote: true do |f|
    = f.input :body, as: :text

    p= f.submit 'Comment', class: 'btn btn-primary'
